* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper-navigation-icon {
  display: none;
}

.swiper-scnd-pagination {
  top: 10% !important;
  left: 90% !important;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  stroke: #f7df06;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.swiper-pagination-bullet-active {
  background: #ca8a04 !important;
}
